<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <nav>
            <form action="" method="patch">
                <input type="text" placeholder="Search" required>
                <button type="submit">🔍</button>
            </form>
    </ul>
</nav>
<table id = 'menu'>
</table>
<div id="root">
    </div>
    <div class="bottom"> <hr> </div>
    <script >
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
         }
        url = 'https://doeslist.herokuapp.com/all'
        async function fetch_data(url){
            const eleRoot = document.getElementById('root');
            const res = await fetch(url,{
                method: 'GET'
            })
            var {posts,comments} = await res.json();

            let data = posts.reverse()
            
            data.forEach(element => {
                const post = document.createElement("div");
                post.classList.add('post');
                eleRoot.appendChild(post);

                const eleH3 = document.createElement("h3");
                post.appendChild(eleH3);
                eleH3.textContent = `${element.user_name}`;

                const elep = document.createElement("h1");
                post.appendChild(elep);
                elep.textContent = `${element.message}`

                const eleH6 = document.createElement("h6");
                eleH6.textContent = `${element.date}`;
                if (element.url.length >10){
                    if (element.url != null){
                    const eleImg = document.createElement("img");
                    post.appendChild(eleImg);
                    eleImg.src = `${element.url}`
                }
                }
                var link = document.createElement('a');
                link.setAttribute('href', `https://uttarayan-app.herokuapp.com/feedback/:${element.id}/:likes`);
                link.textContent = `like ${element.likes}`;
                post.appendChild(link);

                
                var link = document.createElement('a');
                link.setAttribute('href', `https://uttarayan-app.herokuapp.com/feedback/:${element.id}/:dislike`);
                link.textContent = `dislike ${element.dislikes}`;
                post.appendChild(link);

                var link = document.createElement('a');
                link.setAttribute('href', `https://uttarayan-app.herokuapp.com/comments/:${element.id}/data`);
                link.textContent = 'comments';
                post.appendChild(link);
                post.appendChild(eleH6);
                
                var popup = document.createElement('div')
                popup.classList.add('popup');
                popup.textContent= 'see likes'
                popup.setAttribute('onclick', `myFunction()`);
                var spn = document.createElement('span')
                spn.classList.add('popuptext');
                spn.setAttribute('id','myPopup')
                spn.textContent = 'click to see'
                popup.appendChild(spn)
                post.appendChild(popup)
            });
        }
        fetch_data(url)
        </script>
   <style>
        *{
            align-items: center;
            margin: 2% auto;
        }

        body{
            background-color: rgba(156, 155, 155, 0.206);
        }
        h1{
            font-family: monospace;
            font-weight: 600;
            font-size: 25px;
        }
        input{
            padding: 10px 20px;
            border-radius: 10px;
            font-size: 20px;
            background-color: azure;
        }
        button{
            border: none;
            padding: 10px 20px;
            border-radius: 50%;
            font-size: 20px;
            background-color: rgba(244, 183, 70, 0);
        }
        .post{
            box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.476);
            position: relative;
            margin-top: 3rem !important;
            padding: 20px;
            border-radius: 30px;
            width: 70%;
            height: auto;
            margin: 0 auto;
            display: flexbox;
        }
        .post h3{
            height: auto;
            width: auto;
            padding:  8px 15px 15px 15px;
            background-color: azure;
            border-radius: 20px;
        }
        a{
            text-decoration: none;
            height: 20px;
            width: 80px;
            padding: 5px 20px;
            border-radius: 10px;
            font-size: 20px;
            background-color: #016ba8;
            color: #fff;
            border: 1px solid;
            margin-left: 1rem;
        }
        .post a{
            border: none;
            background: #016ba8;
            color: #fff;
            font-size: 120%;
            display: flex;
            margin: 10px auto;
            overflow: hidden;
        }

        img{
            display: flex;
            margin: 0 auto;
            width: 100%;
            height: auto;
            overflow: hidden;
            border-radius: 20px;
            margin-bottom: 1.5rem;
        }
        #menu{
            left: 0%;
            top: 2%;
            width: 100%;
            margin-left: 0;
            color: white;
            text-align: left;
        }
        #menu a{
            font-size: 1.3rem;
            display: flexbox;
            margin: 0 auto;
            overflow: hidden;
        }
        .bottom {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;height: 30vh;
            margin-left: 0;
            margin-bottom: -28vh;
            background-color: rgba(42, 42, 144, 0.959);
            color: white;
            text-align: center;
            }

            .popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
    </style>
</body>
</html>